Get Required Files from Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
project_path = '/content/drive/My Drive/'

Reading and Exploring Data

In [ ]:
import pandas as pd

sarcasm_df = pd.read_json('/content/drive/My Drive/Sarcasm_Headlines_Dataset.json' , lines = True)

In [ ]:
sarcasm_df.head(5)

                                        article_link  ... is_sarcastic
0  https://www.huffingtonpost.com/entry/versace-b...  ...            0
1  https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2  https://local.theonion.com/mom-starting-to-fea...  ...            1
3  https://politics.theonion.com/boehner-just-wan...  ...            1
4  https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0

[5 rows x 3 columns]

In [ ]:
df.shape

(26709, 3)

In [ ]:
df = sarcasm_df.drop(['article_link'] , axis = 1)

In [ ]:
df.head(5)

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0

Length of each line and the maximum length.

In [ ]:
df['len'] = df['headline'].apply(lambda x: len(x.split(" ")))

df.head(5)

                                            headline  is_sarcastic  len
0  former versace store clerk sues over secret 'b...             0   12
1  the 'roseanne' revival catches up to our thorn...             0   14
2  mom starting to fear son's web series closest ...             1   14
3  boehner just wants wife to listen, not come up...             1   13
4  j.k. rowling wishes snape happy birthday in th...             0   11

In [ ]:
max = df['headline'].apply(lambda x: len(x)).max()

In [ ]:
max

254

Importing required modules for modelling

In [ ]:
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense, Input, LSTM, Embedding, Dropout, Activation, Flatten, Bidirectional, GlobalMaxPool1D
from keras.models import Model, Sequential

Using TensorFlow backend.

In [ ]:

max_features = 10000
maxlen = 25
embedding_size = 200

tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(list(df['headline']))
X =  tokenizer.texts_to_sequences(df['headline'])
X = pad_sequences(X, maxlen = maxlen)
y = np.asarray(df['is_sarcastic'])

print("Number of Samples:", len(X))
print(X[0])
print("Number of Labels: ", len(y))
print(y[0])

Number of Samples: 26709
[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0  307  678 3336 2297   47  381 2575    5 2576 8433]
Number of Labels:  26709
0

Get the Vocabulary size

In [ ]:
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 29656 unique tokens.

Glove Word Embeddings

In [ ]:
glove_file = project_path + "glove.6B.zip"

In [ ]:
#Extract Glove embedding zip file
from zipfile import ZipFile
with ZipFile(glove_file, 'r') as z:
  z.extractall()

Get the Word Embeddings using Embedding file as given below

In [ ]:
EMBEDDING_FILE = './glove.6B.200d.txt'

embeddings = {}
for o in open(EMBEDDING_FILE):
    word = o.split(" ")[0]
    # print(word)
    embd = o.split(" ")[1:]
    embd = np.asarray(embd, dtype='float32')
    # print(embd)
    embeddings[word] = embd

Create a weight matrix for words in training docs

In [ ]:
num_words = 10000
embedding_matrix = np.zeros((num_words, 200))

for word, i in tokenizer.word_index.items():
  if i < num_words:
    embedding_vector = embeddings.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

len(embeddings.values())

400000

Create and Compile the Model

In [ ]:
model = Sequential()
model.add(Embedding(num_words, embedding_size, weights = [embedding_matrix]))
model.add(Bidirectional(LSTM(128, return_sequences = True)))
model.add(GlobalMaxPool1D())
model.add(Dense(40, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(1, activation="sigmoid"))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 200)         2000000
_________________________________________________________________
bidirectional_1 (Bidirection (None, None, 256)         336896
_________________________________________________________________
global_max_pooling1d_1 (Glob (None, 256)               0
_________________________________________________________________
dense_1 (Dense)              (None, 40)                10280
_________________________________________________________________
dropout_1 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 41
=================================================================
Total params: 2,347,217
Trainable params: 2,347,217
Non-trainable params: 0
_________________________________________________________________

In [ ]:
batch_size = 100
epochs = 5
history = model.fit(X, y, batch_size=batch_size, epochs=epochs, validation_split=0.2)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 21367 samples, validate on 5342 samples
Epoch 1/5
21367/21367 [==============================] - 22s 1ms/step - loss: 0.4597 - accuracy: 0.7795 - val_loss: 0.3450 - val_accuracy: 0.8512
Epoch 2/5
21367/21367 [==============================] - 20s 954us/step - loss: 0.2657 - accuracy: 0.8948 - val_loss: 0.3071 - val_accuracy: 0.8667
Epoch 3/5
21367/21367 [==============================] - 20s 950us/step - loss: 0.1714 - accuracy: 0.9363 - val_loss: 0.3356 - val_accuracy: 0.8684
Epoch 4/5
21367/21367 [==============================] - 20s 951us/step - loss: 0.1156 - accuracy: 0.9591 - val_loss: 0.3935 - val_accuracy: 0.8620
Epoch 5/5
21367/21367 [==============================] - 21s 966us/step - loss: 0.0696 - accuracy: 0.9764 - val_loss: 0.4900 - val_accuracy: 0.8555